#header-top {
  margin-top: 12px;
  margin-bottom: 12px;
}

#logo-top {
  background-image: url('LogoForestera.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  background-position: center; 
}

.search-top-input input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.input-group > .input-group-append > .btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

.social-link {
  display: inline-block;
  margin: 10px;
  width: 41px;
  height: 41px;
  line-height: 38px;
  text-align: center;
  border: 2px solid #d5d5d5;
  color: #888 !important;
  border-radius: 20px;
}
.social-link:hover {
  color: #b0ca56 !important;
  border: 2px solid #b0ca56;
}
.custom-navbar {
  border-bottom: 1px solid #b0ca56;
  border-top: 1px solid #b0ca56;
  background-color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 25px
}
.custom-navbar-nav {
  display: block;
  width: 100%;
}

.nav-link {
  color: #b0ca56;
}
.nav-link:hover {
  color: #ec971f;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Architects Daughter', cursive;
}
h1, h2 {
  color: #b0ca56;
}
p {
  font-family: 'Lato', sans-serif;
}